.Rproj.user
.Rhistory
.RData
.Ruserdata
data/thermal diffusion model data/.DS_Store
data/thermal diffusion model data/.DS_Store
data/thermal diffusion model data/BOYM/mcmlter-clim_boym_15min-20250205 copy.csv
data/thermal diffusion model data/BOYM/mcmlter-clim_boym_15min-20250205.csv
data/thermal diffusion model data/COHM/mcmlter-clim_cohm_15min-20250205.csv
data/thermal diffusion model data/HOEM/mcmlter-clim_hoem_15min-20250205.csv
data/thermal diffusion model data/TARM/mcmlter-clim_tarm_15min-20250205.csv
/data/met data
data/met stations/mcmlter-clim_tarm_15min-20250205.csv
data/met stations/mcmlter-clim_hoem_15min-20250205.csv
data/met stations/mcmlter-clim_frlm_hourly-20250205.csv
data/met stations/mcmlter-clim_cohm_15min-20250205.csv
data/met stations/mcmlter-clim_boym_15min-20250205.csv
data/met stations/mcmlter-clim_frlm_15min-20250205.csv
